@model List<BookReading.Models.Review>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Author</th>
        <th scope="col">Text</th>
        <th scope="col">Likes</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reviewBook in Model)
    {
        <tr>
            <td>@reviewBook.Author</td>
            <td>@reviewBook.Text</td>
            <td>@reviewBook.LikeCount</td>
        </tr>
    } 
    </tbody>
</table>
<style>
    tr:hover {
        cursor: pointer;
        background: #f0f0f0;
    }
</style>

<hr/>
